@page "/"

<PageTitle>Index</PageTitle>

<h1>Jolly, bunfiller!</h1>
BTW.... Anything in the dotted box is the Konsole component.

<hr>

<div style="border:1px dotted #181d16;">
    <Konsole />
</div>
