<h3>Konsole</h3>

<div id="outer-screen">
    <div id="inner-screen">
        <div id="output-outer">
            <div id="output">@((MarkupString)Output)</div>
        </div>
        <div id="blank-line">&nbsp;</div>
        <div id="input-row">
            <span>&gt;&nbsp;</span>
            <input id="input" @bind="Input" type="text" @onkeydown="OnKeyDown" @onkeyup="Run" autofocus />
        </div>
    </div>
</div>

<div style="border:1px solid red">
    <EditForm Model="cmd" OnSubmit="(() => CmdEnter())">
        <span>
            <div>CMD></div>
            <InputText class="form-control approval-edit-field" @bind-Value="cmd" />
        </span>
    </EditForm>
</div>
